html { overflow-x: hidden; }

/* Begin Navigation Bar */

.navbar { 
	position: relative;
	height: 50px;
	margin-top: 28px;
}

.navbar:before, .navbar:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 9999px;
}

.navbar:before {
  right: 100%;
}

.navbar:after {
  left: 100%;
}

.navbar:after:after {
	height: 50px;
	margin-top: 28px;
	border-top: 50px solid #303030;
 	border-right: 55px solid transparent;	
}
  
.navbar, .navbar:before { background: #303030; }    

.navbar:after { 
	background: #fff; 
	width: 0; 
	height: 0; 
	border-top: 50px solid #303030; 
	border-right: 50px solid transparent;
}

.nav-logo {
	margin-top: 13px;
}

nav ul {
	padding: 0;
	display: inline-block;
	width: 100%;
}

nav li {
	display: inline;
}

nav a {
	padding-top: 13px;
	padding-bottom: 15px;
	padding-left: 31px;
	padding-right: 31px;
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
}

@-moz-document url-prefix() {
	nav a {
		padding-top: 13px;
		padding-bottom: 14px;
		padding-left: 31px;
		padding-right: 31px;
		font-variant: small-caps;
		font-family: 'Montserrat', Arial, sans-serif;
		font-size: 18px;
		letter-spacing: 1px;
		text-decoration: none;
		color: #fff;
	}
}

nav a.active {
	background-color: #944444;
	text-decoration: none;
	color: #ffffff;
}

nav a:hover, a:focus {
	text-decoration: none;
	color: #ffffff;
}

.company-name {
	padding-top: 50px;
	padding-bottom: 50px;
}

.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* End Navigation Bar */

/* Begin footer */

.horizontal-rule {
	background-color: #303030; 
	height: 7px;
	width: 940px;
	margin-top: 50px;
}

ul.footer {
	padding: 0;
	display: inline-block;
	width: 100%;
	margin: 0;
	margin-top: 14px;
}

ul.footer li {
	display: inline;
}

.media-icons {
	margin-right: 30px;
	opacity: 0.7;
	filter:alpha (opacity=100); /* For IE8 and earlier */
}

li.media-text:first-child {
	margin-right: 68px;
}

a.footer-sales {
	opacity: 0.7;
	filter:alpha (opacity=100); /* For IE8 and earlier */
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #944444;
}

.footer a:hover {
	text-decoration: none;
	color: #944444;
	opacity: 0.7;
	filter:alpha (opacity=100); /* For IE8 and earlier */
}

.copyright {
	opacity: 0.7;
	filter:alpha (opacity=100); /* For IE8 and earlier */
	margin-top: 14px;
	margin-bottom: 0;	
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	float: right;
}

.year {
	font-size: 13px;
}

.signature {
	opacity: 0.7;
	filter:alpha (opacity=100); /* For IE8 and earlier */	
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;
	padding: 0;
	float: right;
}

.inline-block {
	display: inline-block;
}

/* End footer */

/* Begin jumbotron */

.jumbotron {
	position: relative;
	width: 100%;
}

.jumbotron-tagline { 
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	margin: 0px;
}

.jumbotron-tagline {
	color: white;
	font: 45px 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	font-variant: small-caps;
	letter-spacing: 0px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.7);
	width: 940px;
	display: inline-block;
	padding-bottom: 7px;
}

.jumbotron-tagline span a:hover {
	text-decoration: none;
}

.center-text {
	text-align: center;
}

/* End jumbotron */

.well {
	margin-top: 50px;
}

div.about-flag {
	margin-top: 51px;
	border-top: 42px solid #303030;
	border-right: 55px solid transparent;
	margin-right: 0;
	width: 415px;
}

div.contact-flag {
	margin-top: 7px;
	border-bottom: 42px solid #944444;
	border-left: 55px solid transparent;
	margin-left: 0;
	width: 415px;
}

div.selector-flag {
  margin-top: 51px;
	border-top: 42px solid #944444;
	border-right: 42px solid transparent;
	margin-right: 0;
	width: 192px;
}

.flag-heading {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 14px;
	margin: 0;
	position: relative;
}

.flag-heading-about {
	top: -42px;
}

.flag-heading-contact {
	margin-left: 120px;
	top: 44px;
}

.flag-heading-menu {
  margin-left: 16px;
  top: -42px;
}

.body-heading {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #944444;
	margin: 0;
}

.body-info {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	line-height: 18px;
	-webkit-text-stroke: 0.1px;
}

.question-mark {
	font-size: 31px;
}

@-moz-document url-prefix() {
	.question-mark {
		font-size: 37px;
	}
}


.spacer {
	margin-top: 50px;
}

.logo-large {
	margin-top: 70px;
}

.contact-form-background {
	background-color: #303030;
	margin-top: 50px;
}

.form-heading {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	margin-top: 14px;
	margin-left: 26px;
	margin-bottom: 0;
	display: inline-block;
}

.form-spacer {
	margin-top: 28px;
}

.field {
	height: 28px;
	margin-top: 7px;
	margin-left: 26px;
	margin-right: 26px;
	width: 404px;
	border: 1px inset

}

input {
	background-color: #fff;
	font-family: Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
}

.field-large {
	background-color: #fff;
	height: 126px;
	margin-top: 7px;
	margin-bottom: 28px;
	margin-left: 26px;
	margin-right: 26px;
	width: 404px;
	border: 1px inset
}

textarea {
	background-color: #fff;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;	
}

.form-divider {
	background-color: #fff;
	height: 1px;
	margin-top: 0;
	margin-left: 26px;
	margin-right: 26px;
	margin-bottom: 28px;
}

.send-button {
	background-color: #944444;
	margin-left: 164px;
	margin-right: 164px;
	margin-bottom: 28px;
	min-width: 145px;
	border-width: 0;
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	padding: 7px;
}

.small-font {
	font-size: 22px;
}

.active-selector-heading {
	color: #fff;
	background-color: #303030;
}

.selector-heading {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #944444;
	padding-top: 10px;
	padding-bottom: 14px;
	padding-left: 14px;
	margin: 0;
}

.roast-inline {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	margin-top: 0;
	margin-bottom: 7px;
	display: inline-block;
}

.roast-filter .circle {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	display: inline-block;
	margin-left: 37px;
	margin-right: 15px;
}

.roast-range-box .circle {
    height: 100%;
    width: 100%;
    background: #FFF;
    border-radius: 50%;
    padding: 2px;
    box-sizing: border-box;
}

.roast-range-box > .outer-circle {
    width: 15px;
    height: 15px;
    margin-left: 0px;
    margin-right: 10px;
    float: left;
}

.roast-range-box > .active-roast {
    border: 1px solid #944444;
}

.city {
    background: #cdcdcd!important;
}

.cityplus {
    background: #a5a19f!important;
}

.fullcity {
    background: #7a7471!important;
}

.fullcityplus {
    background: #484444!important;
}

.vienna {
    background: #000!important;
}

.selections-image {
	margin-top: 0;
	margin-bottom: 14px;
}

.selections-divider {
	height: 1px;
	background-color: #303030;
	margin-top: 0;
	margin-bottom: 14px;
}

.price-text {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #944444;
	margin-top: 0;
	margin-bottom: 7px;
}

.quantity-text {
	font-family: 'Montserrat', Arial, sans-serif;
	font-variant: normal;
	font-size: 14px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	line-height: 18px;
	margin-bottom: 7px;
	margin-top: 0;
}

.circle2-city {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #cdcdcd;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
}

.circle2-cityplus {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #a5a19f;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
}

.circle2-fullcity {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #7a7471;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
}

.circle2-fullcityplus {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #484444;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
}

.circle2-vienna {
	border-radius: 50%;
	width: 11px;
	height: 11px;
	background: #000;
	display: inline-block;
	margin-left: 0;
	margin-right: 10px;
}

.active-circle {
	border-radius: 50%;
	border: 1px solid #944444;
	width: 13px;
	height: 13px;
	background: #fff;
	display: inline-block;
	margin: 0;
}

.order-button {
	background-color: #944444;
	width: 124px;
	height: 42px;
	border-width: 0;
	margin: 0;
	float: right;
}

.order-text {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	padding: 7px;
	margin: 0;
	text-align: center;
}

.hide {
	display: none;	
}

/* Shop Page */

.shop-items {
  margin-top: 51px;
}

.menu-filter {
  margin-top: -31px;
  width: 192px;
}

.menu-filter li {
  margin: 12px 0;
  padding: 4px 24px 4px 0;
}

.menu-filter li.active {
  background-color: #303030
}

.menu-filter li.active a, a:hover, a:focus {
	color: #fff;
}

.filter-info {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #303030;
	padding-top: 4px;
	padding-bottom: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
	padding-left: 24px;
}

a:hover.filter-info {
  color: #303030;
  text-decoration: none;
}

a:focus.filter-info {
  color: #303030;
  text-decoration: none;
}

ul > ul > li {
  margin-left: 5px;
}

/* Begin modal */
div.modal {
  border-radius: 0px;
  width: 940px;
  margin-left: -471px;
}

div.modal-header {
  padding: 0px;
  border-bottom: 0px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}

.modal-header-img {
  position: relative;
  left: 0;
  top: 0;
}

.modal-header-close {
  position: absolute;
  top: 10px;
  left: 884px;
  width: 45px;
  height: auto;
  cursor: pointer;
}

.modal-divider {
	height: 1px;
	width: 610px;
	background-color: #303030;
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: 27px;
}

.modal-order-text {
	font-variant: small-caps;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	background-color: #944444;
	padding: 16px 40px;
	float: right;
	margin-right: 22px;
	margin-top: 8px;
}

.modal-jumbotron-tagline { 
	position: absolute;
	top: 293px;
	left: 0;
	width: 100%;
	margin: 0px;
	color: white;
	font: 40px 'Montserrat', Arial, sans-serif;
	font-weight: 500;
	font-variant: small-caps;
	letter-spacing: 0px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.8);
	width: 858px;
	display: inline-block;
	padding: 10px 41px 17px;
}

.modal .body-heading, .body-info {
  padding-left: 27px;
}

.modal .body-heading {
	font-size: 24px;
}
.modal .body-info {
	margin-bottom: 30px;
	margin-top: 10px;
	font-size: 16px;
}

.bag-price {
	font: 60px 'Montserrat', Arial, sans-serif;
	color: #944444;
	padding-left: 27px;
}

.bag-size {
	font: 20px 'Montserrat', Arial, sans-serif;
	color: #303030;
	padding-left: 10px;
}

div.modal.fade.in {
	top: 5%
}

/* End modal */
