<!-- Begin jumbotron -->
<div class="container">
  <img class=" company-name center-image" src="img/janoyan-roasting.png" alt="Janoyan Roasting Co.">


  <div class="jumbotron">
    <h2 class="jumbotron-tagline center-text"><span class="jumbotron-background">go ahead and get to know us</span></h2>
    <img class="center-image" src="img/jumbotron/contact-chairs.jpg" alt="Get to Know Us">
  </div>
</div> 
 
<!-- End jumbotron -->

<div class="container">
  <div class="row">
    <div class="span5 about-flag">
        <div class="offset1 flag-heading flag-heading-about">about</div>
    </div>
    <div class="span5 contact-flag">
      <div class="flag-heading flag-heading-contact">contact</div>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <p class="body-heading">hello and welcome</p>
      <p class="body-info">We are a small microroasting operation committed to roasting the highest quality coffee for homes and retail businesses, and bringing our customers the quality coffee they deserve.</p>
      <p class="body-info">Our founder, Alan Janoyan, recently graduated from UC Berkeley and began the company with a passion for bringing unique and custom selections to the masses.</p>
      <p class="body-info">Feel free to contact him to order from our special offerings, to discuss how he might better serve your needs,  or just to chat over a friendly cup of coffee.</p>
    </div>
    <div class="offset1 span5">
      <p class="body-heading">phone</p>
      <p class="body-info reduced-margin">818.455.3513</p>
      <p class="body-heading">email</p>
      <p class="body-info reduced-margin">alanjanoyan@gmail.com</p>
      <p class="body-heading">twitter</p>
      <p class="body-info reduced-margin">@janoyanroastingco</p>
      <p class="body-heading">facebook</p>
      <p class="body-info reduced-margin">Janoyan Roasting Co.</p>
    </div>
  </div>	
</div>
