<!-- Begin jumbotron -->
<div class="container">
	<img class="company-name center-image" src="img/janoyan-roasting.png" alt="Janoyan Roasting Co.">
	<div class="jumbotron">
		<a href="#/wholesale">
			<h2 class="jumbotron-tagline center-text"><span class="jumbotron-background">wholesale now available</span></h2></a>
		<a href="#/wholesale">
			<img class="center-image" src="img/jumbotron/coffee-cups.jpg" alt="Wholesale Coffee">
		</a>
	</div>
</div> 

<!-- End jumbotron -->

<div class="container">
	<div class="row">
		<div class="well span6">
			<a href="#/club">
				<img src="img/well/coffeeclub-well.jpg" alt="Coffee Club">
			</a>
		</div>
		<div class="well offset6">
			<a href="#/shop">
				<img src="img/well/free-shipping.jpg" alt="Free Shipping on All Orders over $25">
			</a>
		</div>
	</div>  
</div>
