<!-- Begin jumbotron -->
<div class="container">
	<img class="company-name center-image" src="img/janoyan-roasting.png" alt="Janoyan Roasting Co.">
  <a href="#/shop/holiday">
    <h2 class="jumbotron-above center-text"><span class="jumbotron-background">our holiday boxes have arrived</span></h2>
  </a>
	<div class="jumbotron">
		<a href="#/shop/holiday">
			<img class="center-image" src="img/candy-web.jpg" alt="Wholesale Coffee">
		</a>
	</div>
</div> 

<!-- End jumbotron -->

<div class="container">
	<div class="row">
		<div class="well span6">
			<a href="#/shop/iced">
				<img src="img/well/iced-coffee-well.jpg" alt="Iced Coffee">
			</a>
		</div>
		<div class="well offset6">
			<a href="#/shop">
				<img src="img/well/free-shipping.jpg" alt="Free Shipping on All Orders over $25">
			</a>
		</div>
	</div>  
</div>
