<div id="{{ coffee.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ coffee.id }}">
  <div class="modal-header">
    <img ng-src="{{ coffee.modal_img }}" class="modal-header-img">
    <h2 class="modal-jumbotron-tagline">{{ coffee.name }}</h2>
    <img src="img/icon/close-icon.png" ng-click="close()" class="modal-header-close">
  </div>
  <div class="modal-body">
    <p class="body-heading">{{ coffee.intensity }}</p>
    <p class="body-info" ng-bind-html='coffee.description | unsafe'></p>
    <p class="body-heading">current roast range offerings</p>
    <p class="body-info">{{ coffee.roast_range.join(', ') }} </p>
    <div class="modal-divider"></div>
    <span class="bag-price">${{ coffee.price }}</span>
    <span class="bag-size">per {{ coffee.bag_size }}oz {{ coffee.container }}</span>
    <span class="modal-order-text">
      <snipcart-button product="coffee" text="Order" />
    </span>
  </div>
</div>
