{{ $stateParam }}
<div ng-repeat="coffee in coffees" class="span4">
  <a ng-href="#/shop/{{ category }}/coffee/{{ coffee.id }}"><img class="selections-image" ng-src="{{ coffee.shop_item_img }}"></a>
  <div class="selections-divider"></div>
  <div>
    <div class="order-button">
      <snipcart-button product="coffee" text="order" />
    </div>
    <p class="price-text">${{ coffee.price }} <span class="quantity-text">per {{ coffee.bag_size }}oz {{ coffee.container | shorthand }}</span></p>
    <roastrange product="coffee"/>
  </div>
</div>
