<!-- Begin jumbotron -->
<div class="container">
  <img class="company-name center-image" src="img/janoyan-roasting.png" alt="Janoyan Roasting Co.">
  <div class="jumbotron">
    <a href="#/club">
      <h2 class="jumbotron-tagline center-text"><span class="jumbotron-background">love coffee<span class="question-mark">?</span> join our coffee club</span></h2></a>
    <a href="#/club">
      <img class="center-image" src="img/jumbotron/coffee-bags.jpg" alt="Love coffee? Join our Coffee Club">
    </a>
  </div>
</div> 
<!-- End jumbotron -->

<div class="container">
  <div class="row">
    <div class="span4">
      <div class="selector-flag">
        <div class="flag-heading flag-heading-menu">coffee</div>
      </div>
      <ul class="unstyled menu-filter" ng-controller="MenuFilterCtrl">
        <li ng-class="{ 'active': isActive('all') }">
          <a href="#/shop/all" class="filter-info">All Coffee</a></li>
        <ul class="unstyled roast-filter">
          <li><span class="filter-info">Roast Range</span></li>
          <li ng-class="{ 'active': isActive('city') }"><div class="circle city"></div><a class="roast-inline">City</a></li>
          <li ng-class="{ 'active': isActive('city-plus') }"><div class="circle cityplus"></div><p class="roast-inline">City Plus</p></li>
          <li ng-class="{ 'active': isActive('full-city') }"><div class="circle fullcity"></div><p class="roast-inline">Full City</p></li>
          <li ng-class="{ 'active': isActive('full-city-plus') }"><div class="circle fullcityplus"></div><p class="roast-inline">Full City Plus</p></li>
          <li ng-class="{ 'active': isActive('vienna') }"><div class="circle vienna"></div><p class="roast-inline">Vienna</p></li>
        </ul>
        <li ng-class="{ 'active': isActive('single-origin') }">
          <a href="#/shop/single-origin" class="filter-info">Single Origin</a></li>
        <li ng-class="{ 'active': isActive('blends') }">
          <a href="#/shop/blends" class="filter-info">Blends</a></li>
        <li ng-class="{ 'active': isActive('espresso') }">
          <a href="#/shop/espresso" class="filter-info">Espresso</a></li>
        <li ng-class="{ 'active': isActive('decaf') }">
          <a href="#/shop/decaf" class="filter-info">Decaf</a></li>
        <li ng-class="{ 'active': isActive('iced') }">
          <a href="#/shop/iced" class="filter-info">Iced Coffee</a></li>
      </ul>
    </div>
    <div class="span8 shop-items">
      <div class="row">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>
