<!-- Begin jumbotron -->
<div class="container">
  <img class=" company-name center-image" src="img/janoyan-roasting.png" alt="Janoyan Roasting Co.">

  <div class="jumbotron">
    <h2 class="jumbotron-tagline center-text"><span class="jumbotron-background">buy in bulk, save in bulk</span></h2>
    <img class="center-image" src="img/jumbotron/wholesale-beans.jpg" alt="Wholesale and bulk options">	
  </div>
</div> 

<!-- End jumbotron -->

<div class="container">
  <div class="row">
    <div class="span6 spacer">
      <p class="body-heading">for businesses and extreme coffee lovers</p>
      <p class="body-info">We now offer wholesale selections packaged in bulk, so you can enjoy our great offerings for longer. Send us a message and we&#39;ll talk you through our unique options.</p>
      <p class="body-heading spacer">enjoy free shipping</p>
      <p class="body-info">Just another perk of ordering in bulk. Fill out the form to the left with your contact information and we&#39;ll call you to discuss our current bulk options and cost-effective pricing scale.</p>
      <img class="offset1 logo-large" src="img/icon/coffee-bean-texture.png" alt="Janoyan Roasting Co.">
    </div>
    <div class="span6">
      <form class="contact-form-background">
        <label class="form-heading form-spacer">name</label>
        <input class="field" type="text" name="name">
        <label class="form-heading">email</label>
        <input class="field" type="text" name="email">
        <label class="form-heading">phone</label>
        <input class="field" type="text" name="phone">
        <label class="form-heading">message</label>
        <textarea class="field-large" name="message"></textarea>
        <div class="form-divider"></div>
        <button class="send-button" type="submit">send</button>
      </form>
    </div>	
  </div>
</div>
